body {
	background-color: #384C7E;
	margin: 0 0 0 0;
}
body, html {
    height: 100%;
}
.bg {
/*     background-image: url("../../images/bg.jpg"); */
	height: 100%;
	background-color: #384C7E;
/*     background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}
.bodypage {
	padding: 50px;
	margin: 10px 150px;
	border: 1px solid black;
	background-color: #203466;

}
.padheader {
	float: right;
	padding: 10px;
	color: black;
	font-weight: bold;
}
.header {
	-webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 8px 6px -6px black;
	overflow: auto;
}

.titulo {
	font-size: 36px;
	font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif;
	padding: 30px;
	color: black;
}

.registro {
	width: 40%;
}

.fix {
	float: right;
	width: 45%;
}

.pad {
	padding: 20px;
	margin: 5px;
}

.img {
	width: 250px;
	height: 50px;
}

